.publish-modal-checkbox-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0.75rem 0.563rem 1.25rem;

  .Checkbox {
    padding: 0.5rem 0;
    position: relative;
    width: 17.063rem;
    margin-bottom: 1.875rem;
  }
}

.publish-modal-section-wrapper-v2 {
  padding: 0 0 0 1rem;
}
